[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "~=22.12"
cheroot = "*"
cx_Freeze = {version = "*", os_name = "== 'nt'"}
flake8 = "*"
flake8-bugbear = "*"
flake8-isort = "*"
flake8-quotes = "*"
isort = "*"
psutil = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
#recommonmark = "*"
setuptools = ">=42.0"
Sphinx = "*"
sphinx_rtd_theme = "*"
stressor-ps = "*"
tox = "*"
twine = "*"
wheel = "*"
wsgidav = "*"
yabs = "*"
stressor = {path = ".",editable = true}

[packages]
fabulist = "*"
lxml = "*"
python-dateutil = "*"
PyYAML = "*"
requests = "*"
snazzy = "*"

[requires]
python_version = "3.11"

[pipenv]
# allow_prereleases = true
