body {
  background-color: #eee;
  margin: 0;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Logo Image */

span.logo {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  vertical-align: text-bottom;
  background-position: 0 0;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-image: url(stage_ready.png);
}
body.stage-running span.logo {
  background-image: url(stage_running_ok.png);
  background-color: #dfd;
}
body.stage-running.has-errors span.logo {
  background-image: url(stage_running_ok.png);
  background-color: #fdd;
}
body.stage-waiting span.logo {
  background-image: url(stage_done_ok.png);
  background-color: #dfd;
}
body.stage-waiting.has-errors span.logo {
  background-image: url(stage_done_error.png);
  background-color: #fdd;
}

/* Stage Badge  */

span.stage {
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #555;
  vertical-align: super;
  padding: 2px 8px;
  font-variant: small-caps;
  font-size: smaller;
}
body.stage-waiting span.stage {
  color: #555;
  background-color: #eee;
}
body.has-errors span.logo,
body.has-errors span.stage {
  border-color: red;
  background-color: #fdd;
  box-shadow: 2px 2px 4px #900;
}

.flash {
  opacity: 1;
  animation: flash 0.9s;
}
@keyframes flash {
  0% { opacity: 0.5; }
  100% { opacity: 1.0; }
}

/* Info panes, etc. */

body.has-errors #statusContainer,
#statusContainer.error {
  color: red;
}
div.info {
  width: 100%;
  background-color: white;
  overflow: auto;
  padding: 2px 4px;
}

/* Header table */

div.info span.label {
  display: inline-block;
  /* min-width: 4em; */
  margin-right: 4px;
  /* padding: 2px 4px; */
  font-weight: bold;
}
div.info span.value {
  display: inline-block;
  min-width: 4em;
  margin-right: 4px;
}
div.info div.value {
  color: gray;
}

#statusBar {
  width: 100%;
  text-align: right;
  color: gray;
  font-size: small;
  margin-top: 4px;
}
#statusBar a {
  text-decoration: none;
  color: gray;
}

/* */

table.metrics {
  margin: 0 auto;
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Metrics tables */
table.metrics tbody tr:nth-child(odd) {
  background: #f8f8f8;
}
table.metrics tbody tr:hover {
  background: #eee;
}
table#run-metrics tbody tr:last-of-type {
  font-weight: bolder;
}

table.metrics th,
table.metrics td {
  /* background-color: white; */
  border: 1px solid #eee;
  padding: 1px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.metrics th.num,
table.metrics td.num {
  text-align: right;
  width: 5em;
}
table.metrics td.err-num {
  background-color: #dfd;
}
table.metrics td.warn {
  color: red;
  background-color: #fdd;
}
table.metrics td.ok {
  color: green;
}
table.metrics th.text,
table.metrics td.text {
  text-align: left;
  width: 1;
}
table.metrics th.w-xs,
table.metrics td.w-xs {
  width: 2em;
}
table.metrics th.w-s,
table.metrics td.w-s {
  width: 4em;
}
table.metrics th.w-m,
table.metrics td.w-m {
  width: 10em;
}
table.metrics tr.sum {
  font-weight: bold;
}
table.metrics tr.no-data td {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}

/* */
.col-num {
  width: 50px;
  color: blue;
  text-decoration: underline;
}
